-- DropForeignKey
ALTER TABLE "public"."PropertyOwnership" DROP CONSTRAINT "PropertyOwnership_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."PropertyOwnership" DROP CONSTRAINT "PropertyOwnership_propertyId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Room" DROP CONSTRAINT "Room_propertyId_fkey";

-- DropForeignKey
ALTER TABLE "public"."UtilityRate" DROP CONSTRAINT "UtilityRate_propertyId_fkey";

-- DropForeignKey
ALTER TABLE "public"."UtilityRate" DROP CONSTRAINT "UtilityRate_roomId_fkey";

-- DropForeignKey
ALTER TABLE "public"."TieredElectricityRate" DROP CONSTRAINT "TieredElectricityRate_utilityRateId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Tenant" DROP CONSTRAINT "Tenant_roomId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Occupant" DROP CONSTRAINT "Occupant_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "public"."DepositReturn" DROP CONSTRAINT "DepositReturn_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Bill" DROP CONSTRAINT "Bill_roomId_fkey";

-- DropForeignKey
ALTER TABLE "public"."FeeType" DROP CONSTRAINT "FeeType_propertyId_fkey";

-- DropForeignKey
ALTER TABLE "public"."RoomFee" DROP CONSTRAINT "RoomFee_roomId_fkey";

-- DropForeignKey
ALTER TABLE "public"."RoomFee" DROP CONSTRAINT "RoomFee_feeTypeId_fkey";

-- DropForeignKey
ALTER TABLE "public"."BillFee" DROP CONSTRAINT "BillFee_billId_fkey";

-- DropTable
DROP TABLE "public"."User";

-- DropTable
DROP TABLE "public"."PropertyInfo";

-- DropTable
DROP TABLE "public"."Property";

-- DropTable
DROP TABLE "public"."PropertyOwnership";

-- DropTable
DROP TABLE "public"."Room";

-- DropTable
DROP TABLE "public"."UtilityRate";

-- DropTable
DROP TABLE "public"."TieredElectricityRate";

-- DropTable
DROP TABLE "public"."Tenant";

-- DropTable
DROP TABLE "public"."Occupant";

-- DropTable
DROP TABLE "public"."DepositReturn";

-- DropTable
DROP TABLE "public"."Bill";

-- DropTable
DROP TABLE "public"."FeeType";

-- DropTable
DROP TABLE "public"."RoomFee";

-- DropTable
DROP TABLE "public"."BillFee";

-- DropTable
DROP TABLE "public"."ReportTemplate";

-- DropEnum
DROP TYPE "public"."RoomStatus";

-- DropEnum
DROP TYPE "public"."WaterPricingMethod";

-- DropEnum
DROP TYPE "public"."ResidenceType";

-- DropEnum
DROP TYPE "public"."DepositReturnMethod";

-- DropEnum
DROP TYPE "public"."UserRole";

-- DropEnum
DROP TYPE "public"."ReportType";

