-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "RoomStatus" AS ENUM ('EMPTY', 'OCCUPIED');

-- CreateEnum
CREATE TYPE "WaterPricingMethod" AS ENUM ('METER', 'PERSON');

-- CreateEnum
CREATE TYPE "ResidenceType" AS ENUM ('TEMPORARY', 'PERMANENT');

-- CreateEnum
CREATE TYPE "DepositReturnMethod" AS ENUM ('FULL_RETURN', 'DEDUCT_FROM_LAST_BILL');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PropertyInfo" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "ownerName" TEXT NOT NULL,
    "email" TEXT,
    "logoUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "maxElectricMeter" INTEGER NOT NULL DEFAULT 999999,
    "maxWaterMeter" INTEGER NOT NULL DEFAULT 99999,

    CONSTRAINT "PropertyInfo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Room" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "price" DECIMAL(10,0) NOT NULL,
    "status" "RoomStatus" NOT NULL DEFAULT 'EMPTY',
    "meterReadingDay" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "maxElectricMeter" INTEGER,
    "maxWaterMeter" INTEGER,

    CONSTRAINT "Room_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UtilityRate" (
    "id" TEXT NOT NULL,
    "electricityPrice" DECIMAL(10,0),
    "waterPrice" DECIMAL(10,0),
    "waterPricingMethod" "WaterPricingMethod" NOT NULL DEFAULT 'METER',
    "waterPricePerPerson" DECIMAL(10,0),
    "useTieredPricing" BOOLEAN NOT NULL DEFAULT false,
    "isGlobal" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "roomId" TEXT,

    CONSTRAINT "UtilityRate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TieredElectricityRate" (
    "id" TEXT NOT NULL,
    "minUsage" INTEGER NOT NULL,
    "maxUsage" INTEGER,
    "price" DECIMAL(10,0) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "utilityRateId" TEXT NOT NULL,

    CONSTRAINT "TieredElectricityRate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tenant" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "idCard" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "hometown" TEXT,
    "moveInDate" TIMESTAMP(3),
    "deposit" DECIMAL(10,0),
    "contractFileUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "roomId" TEXT,
    "deleteReason" TEXT,
    "deletedAt" TIMESTAMP(3),
    "deletedBy" TEXT,

    CONSTRAINT "Tenant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Occupant" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "idCard" TEXT,
    "dateOfBirth" TIMESTAMP(3),
    "hometown" TEXT,
    "relationship" TEXT,
    "residenceType" "ResidenceType" NOT NULL DEFAULT 'TEMPORARY',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "tenantId" TEXT NOT NULL,

    CONSTRAINT "Occupant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DepositReturn" (
    "id" TEXT NOT NULL,
    "amount" DECIMAL(10,0) NOT NULL,
    "returnDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "method" "DepositReturnMethod" NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tenantId" TEXT NOT NULL,

    CONSTRAINT "DepositReturn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bill" (
    "id" TEXT NOT NULL,
    "month" INTEGER NOT NULL,
    "year" INTEGER NOT NULL,
    "oldElectricReading" INTEGER NOT NULL,
    "newElectricReading" INTEGER NOT NULL,
    "electricityUsage" INTEGER NOT NULL,
    "electricityRollover" BOOLEAN NOT NULL DEFAULT false,
    "oldWaterReading" INTEGER NOT NULL,
    "newWaterReading" INTEGER NOT NULL,
    "waterUsage" INTEGER NOT NULL,
    "waterRollover" BOOLEAN NOT NULL DEFAULT false,
    "electricMeterPhotoUrl" TEXT,
    "waterMeterPhotoUrl" TEXT,
    "roomPrice" DECIMAL(10,0) NOT NULL,
    "electricityCost" DECIMAL(10,0) NOT NULL,
    "waterCost" DECIMAL(10,0) NOT NULL,
    "totalCost" DECIMAL(10,0) NOT NULL,
    "totalCostText" TEXT NOT NULL,
    "isPaid" BOOLEAN NOT NULL DEFAULT false,
    "paidDate" TIMESTAMP(3),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "roomId" TEXT NOT NULL,

    CONSTRAINT "Bill_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdditionalFee" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "amount" DECIMAL(10,0) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "billId" TEXT NOT NULL,

    CONSTRAINT "AdditionalFee_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "Room_code_key" ON "Room"("code");

-- CreateIndex
CREATE INDEX "Room_status_idx" ON "Room"("status");

-- CreateIndex
CREATE INDEX "Room_code_idx" ON "Room"("code");

-- CreateIndex
CREATE UNIQUE INDEX "UtilityRate_roomId_key" ON "UtilityRate"("roomId");

-- CreateIndex
CREATE INDEX "UtilityRate_isGlobal_idx" ON "UtilityRate"("isGlobal");

-- CreateIndex
CREATE INDEX "UtilityRate_roomId_idx" ON "UtilityRate"("roomId");

-- CreateIndex
CREATE INDEX "TieredElectricityRate_utilityRateId_idx" ON "TieredElectricityRate"("utilityRateId");

-- CreateIndex
CREATE UNIQUE INDEX "Tenant_roomId_key" ON "Tenant"("roomId");

-- CreateIndex
CREATE INDEX "Tenant_deletedAt_idx" ON "Tenant"("deletedAt");

-- CreateIndex
CREATE INDEX "Tenant_roomId_idx" ON "Tenant"("roomId");

-- CreateIndex
CREATE INDEX "Tenant_phone_idx" ON "Tenant"("phone");

-- CreateIndex
CREATE INDEX "Occupant_tenantId_idx" ON "Occupant"("tenantId");

-- CreateIndex
CREATE INDEX "DepositReturn_tenantId_idx" ON "DepositReturn"("tenantId");

-- CreateIndex
CREATE INDEX "Bill_roomId_idx" ON "Bill"("roomId");

-- CreateIndex
CREATE INDEX "Bill_isPaid_idx" ON "Bill"("isPaid");

-- CreateIndex
CREATE INDEX "Bill_month_year_idx" ON "Bill"("month", "year");

-- CreateIndex
CREATE UNIQUE INDEX "Bill_roomId_month_year_key" ON "Bill"("roomId", "month", "year");

-- CreateIndex
CREATE INDEX "AdditionalFee_billId_idx" ON "AdditionalFee"("billId");

-- AddForeignKey
ALTER TABLE "UtilityRate" ADD CONSTRAINT "UtilityRate_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "Room"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TieredElectricityRate" ADD CONSTRAINT "TieredElectricityRate_utilityRateId_fkey" FOREIGN KEY ("utilityRateId") REFERENCES "UtilityRate"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Tenant" ADD CONSTRAINT "Tenant_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "Room"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Occupant" ADD CONSTRAINT "Occupant_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DepositReturn" ADD CONSTRAINT "DepositReturn_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "Tenant"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "Room"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AdditionalFee" ADD CONSTRAINT "AdditionalFee_billId_fkey" FOREIGN KEY ("billId") REFERENCES "Bill"("id") ON DELETE CASCADE ON UPDATE CASCADE;

